@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root
{
    --White: hsl(0, 0%, 98%);
    --light-Gray: hsl(0, 0%, 41%);
    --Black: hsl(0, 0%, 8%);    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
}
button{
    font-family: inherit;
    cursor: pointer;
    color: inherit;
}
img{
    display: block;
}
body{
    background:var(--White);
    font-family: 'Epilogue', sans-serif;
    gap:5rem;
}
.flex{
    display: flex;
    flex-direction: row;
    gap:1.4rem;
}
h1{
    font-size:3.9rem;
}
main{
    text-align: center;
}
footer{
    text-align: center;
    padding: 2rem;
}
.btn{
    padding:0.65rem 1.2rem;
    border-radius: 12px;
    color: var(--light-Gray);
    transition: color 150ms ease-in-out,
    background-color 150ms ease-in-out;
    font-weight: 700;
}
/*  */
header.flex{
   justify-content: space-between;
   align-items: center;
   padding:2rem;
   max-width: 1300px;
   background-color: var(--White);
}

.buttons.flex{
    margin-left: auto;
    flex-direction: column;
}
.btn-login{
    border: none;
    background-color:transparent;
    margin-right: 1.5rem;
    padding: 0;
}
.btn-register{
    border-width: 0.7px;
    background-color: transparent;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: relative;
    opacity: 0;
    left: 0;
    top:calc(100% + 2.5rem);
    height: 0;
    background-color: transparent;
    transform-origin:100% center;
    transform: translateY(-5px) translateX(0.5rem) ;
    transition: opacity 150ms ease-in-out,
    transform 150ms ease-in-out;
    z-index: 10;
    pointer-events: none;
}

.dropdown > .dropdownBtn:focus + .dropdown-menu{
    opacity: 1;
    height: auto;

    padding: 1.5rem 0.5rem;
    transform: translateY(0) translateX(0.5rem) ;
}
.dropdownBtn{
    background-color: transparent;
    display: flex;
    align-items: center;
    gap:0.5em;
    /* padding:0.5em 0; */
    border: none;
    overflow: hidden;
    font-size: inherit;
}
/* hamburger menu */
nav{
    display: block;
    position: fixed;
    top:0;
    right:-250px;
    width:250px;
    height: 100vh;
    background-color: var(--White);
    z-index: 1000;
    padding:2rem;
    transition: all .3s ease-in-out;
}
nav ul.flex{
    flex-direction:column ;
    gap:1.3rem;
    margin-top: 5rem;
}
.menu__checkbox,
.hamburger{
    display: none;
}
.backdrop{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 998;
    background-color: rgba(0,0,0,0.4);
    cursor: default;
    display: none;
}
.menu__button{
    cursor:pointer;
    position: fixed;
    width:3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    top:1rem;
    right:1.5rem;
    z-index:1001;
    text-align: center;
}
.hamburger{
    position: relative;
    margin-top: 1.5rem;
    z-index:1000;
}
.hamburger,
.hamburger::before,
.hamburger::after{
    width:2rem;
    height:3px;
    background-color: var(--Black);
    display: inline-block;
}
.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left:0;
    transition: all .2s;
}
.hamburger::before{
    top:-0.7rem;
}
.hamburger::after{
    top:0.7rem;
}
.menu__button:hover .hamburger::before{
    top:-0.8rem;
}
.menu__button:hover .hamburger::after{
    top:0.8rem;
}
.menu__checkbox:checked + .menu__button .hamburger{
    background-color: transparent;
}
.menu__checkbox:checked + .menu__button .hamburger::before{
    top:0;
    transform: rotate(135deg);
}
.menu__checkbox:checked + .menu__button .hamburger::after{
    top:0;
    transform: rotate(-135deg);
}
.menu__checkbox:checked ~ nav{
    right:0;
}
.menu__checkbox:checked ~ .backdrop{
    display: block;
}

/* main styles */
main.flex{
    flex-direction: column;
    margin-top: 4rem;
    gap:0;
}
.text-container.flex{
    flex-direction: column;
    justify-content: space-between;
}
.text-content{
    display: flex;
    flex-direction: column;
    padding:2em 0.9rem 0;
    gap:2rem;
}
.text-content p{
    color:var(--light-Gray);
    line-height: 1.6;
}
.image-content img{
    width:100%;
    object-fit: cover;
    max-width: 48em;
}
.companies{
    display: flex;
    justify-content: space-around;
    padding:0 0.9rem;
}
.companies img{
    width:20%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.buttons .btn:hover{
    color:var(--Black);
}
.btn-learnMore{
    width:140px;
    background-color: black;
    color: white;
    border-width: 0.7px;
    margin-inline: auto;
}
.btn-learnMore:hover{
    background-color: var(--White);
    color: var(--Black);
    border: 0.7px solid var(--Black);
}

@media(min-width:50em){
    nav{
        position: relative;
        height: auto;
        width: auto;
        top:0;
        right:0;
        padding:0;
        width: 100%;
    }
    nav ul.flex{
        flex-direction:row ;
        margin-top: 0;
    }
    nav ul li {
        margin:  0;
    }
    .menu__button{
        display: none;
    }
    header{
        margin-inline: auto;
        padding:2rem 1.5rem; 
    }
    nav{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap:2rem;
    }
    main.flex{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    main{
        max-width: 1000px;
        margin-inline: auto;
        text-align: left;
    }
    .text-container.flex{
        margin-top: 3rem;
        flex-basis: 45%;
    }
    .image-content{
        flex-basis: 50%;  
    }
    .buttons.flex{
        flex-direction: row;
    }
    .btn-learnMore{
        margin-left: 0;
    }
}